.searchBar {
  margin-top: 20px;
}
.searchBar form {
  display: flex;
}
.searchBar input,
.searchBar button {
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 4px;
}
.searchBar input {
  width: 90%;
}
.searchBar button {
  color: white;
  background: #ee4721;
  padding: 10px 15px;
}
