.searchBar {
  margin-top: 20px;
}
.searchBar form {
  display: flex;
}
.searchBar input,
.searchBar button {
  border: none;
  padding: 10px;
  border-radius: 4px;
}
.searchBar input {
  margin-right: 10px;
  width: 100%;
}
.searchBar button {
  color: white;
  background: #ee4721;
  padding: 10px 15px;
}
.searchBar button:hover {
  cursor: pointer;
}
