.footer-container {
  position: absolute;
  height: 250px;
  width: 100vw;
  background: rgba(57, 81, 121, 0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.footer-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-links .about,
.contact,
.judges,
.faq {
  text-decoration: none;
  color: black;
}
.footer-links .link {
  margin: 0px 50px;
}
.footer-links .link:hover {
  color: #ee4721;
  cursor: pointer;
}
.footer-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-socials a {
  text-decoration: none;
  color: black;
}
.footer-socials a:hover {
  color: #ee4721;
}
.footer-socials .footer-logo {
  width: 160px;
}
.socials i {
  font-size: 20pt;
  margin: 10px;
}
/* .socials i:first-child {
  width: 10px;
} */
.socials .fa-facebook-square:hover {
  cursor: pointer;
  color: #3b5999;
}
.socials .fa-instagram:hover {
  cursor: pointer;
  color: #e4405f;
}
.socials .fa-twitter-square:hover {
  cursor: pointer;
  color: #55acee;
}
